/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --text-color: #000;
    --alt-text-color: #fff;

    --main-font: 'Inter', sans-serif;
    --main-font-title-weight: 715;
    --main-font-text-weight: 410;

    --pixel-font: 'PressStart2P', cursive;

    --background-gradient: repeating-linear-gradient( 90deg, #d3d3d3 0px 2px, transparent 2px 4px), repeating-linear-gradient( 0deg, #d3d3d3 0px 2px, transparent 2px 4px), repeating-linear-gradient( 180deg, #e7e7e7, #1a1a1a);

    --label-text-shadow-color: #fff;

    --block-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);   /* использовал font-size clamp() generator */
    --block-block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);        /* использовал font-size clamp() generator */

    --contour-color: #000;
    --animation-fill-color: #ff0000;
}